.wrapper
  = render "side_bar"
  .chat-main
    .chat-main__group-info
      .chat-main__group-info__title
        = @group.name
      .chat-main__group-info__name
        - @group.users.each do|user|
          = user.name
      .chat-main__group-info__edit
        =link_to edit_group_path(@group),class: "chat-main__group-info__edit__btn" do
          Edit
    .chat-main__message-list
      = render @messages
    
    .chat-main__message-form
      .chat-main__message-form__type
        .chat-main__message-form__type__text
          = form_for [@group, @message] do |f|
            = f.text_field :content, class: 'form__type__text', placeholder: 'type a message'
            .chat-main__message-form__type__image
              = f.label :image,class: "chat-main__message-form__type__send" do
                = icon('fas', 'image', class: 'icon')
                = f.file_field :image, class: 'hidden'
            = f.submit 'Send', class: 'chat-main__message-form__type__send__btn'


