= form_for group do |f|
  - if group.errors.any?
    .-group-form__errors
      %h2= "#{group.errors.full_messages.count}件のエラーが発生しました。"
      %ul
        - group.errors.full_messages.each do |message|
          %li= message
  .message-group-form__field
    .message-group-form__field--left
      = f.label :name, class: 'message-group-form__label'
    .message-group-form__field--right
      = f.text_field :name, class: 'message__group_name message-group-form__input', placeholder: 'グループ名を入力してください'
  .message-group-form__field.clearfix
    / この部分はインクリメンタルサーチ（ユーザー追加の非同期化のときに使用します
  .message-group-form__field.clearfix
    .message-group-form__field--left
      %label.message-group-form__label{:for => "message_group_チャットメンバー"} チャットメンバー
    .message-group-form__field--right
      / グループ作成機能の追加時はここにcollection_check_boxesの記述を入れてください
      = f.collection_check_boxes :user_ids, User.all, :id, :name
      / この部分はインクリメンタルサーチ（ユーザー追加の非同期化のときに使用します
  .message-group-form__field.clearfix
    .message-group-form__field--left
    .message-group-form__field--right
      = f.submit class: 'message-group-form__action-btn'